:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --third-bg-color: #2F303A;
    --accent-color: #2196F3;
}

/* стилізація лінків */

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* загальне */

.page{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* стилізація лого */
.logo-web {
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

/* стилізація навігації */

.site-nav .link {
    color: var(--tittle-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .contact {
    color: var(--primary-text-color);
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
    color: var(--accent-color);
}

/* герой */

.hero {
    color: #FFFFFF;
    background-color:var(--third-bg-color);
}

/* приховані заголовки */

.hidden-title {
    display: none;
}

/* секції */

.section-title,
.li-title {
    color: var(--tittle-text-color);
}

/* Кнопка */

.button {
    color: var(--tittle-text-color);
    background-color: var(--secondary-bg-color);
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* футер */

.address {
    background-color: var(--third-bg-color);
}

.address .link {
    color: rgba(255, 255, 255, 0.6)
}

.address .link-map {
    color: #FFFFFF;
}

.address .link-map:hover,
.address .link-map:focus {
    color: var(--accent-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}





